.pessoas {
    display: flex;
    padding-top: 3rem;
    justify-content: space-around;
}

@media screen and (min-width: 0) {   /* Celular */
    .pessoas{
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {   /* Tablet */
    .pessoas{
        flex-direction:row;
    }
}

